body{
    background-attachment: fixed;
    background-image: url(/images/fly.jpg);
    background-size: cover;
}
#btn{
    border-radius:12px; 
}
input{
    border-radius: 15px;
    font-size: 9px; 
}

/*hovering*/

#btn:hover{
    border-radius:24px;
    background-color: purple;
}
input:hover{
    border-radius: 50px;
    font-size: 34px;
    }

    .bod{
    background-image: url(/images/forti.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    }

i{
color: white;
font-size: 14px;
}
#dot{
background-image: url(images/Girl.jpg)
}

    .panel{
    background-image: url(/images/gutt.jpg);
    background-size: cover;
    }



    u{
    color: cyan;
    }

   h1:hover{
    color: black;
    font-size: 40px;
    }

    h2:hover{
    color: black;
    font-size: 40px;
    }

    h3:hover{
color: black;
font-size: 40px;
    }

    h4:hover{
color: black;
fot-size: 40px;
font-family:
    }

    h4:hover{
color: black;
font-size: 40px;
font-style: italic;
    }
label{
color: blue;
}
.H{
color: cyan;
font-size: 25px;
}
p{
color: green;
}

#dope{
background-image: url(/images/gutt.jpg)
}

button{
boder-radius: 28px;
}

img{
border-radius: 12px;
width: 7.5cm;
height: 7.5cm;
}

#gut{
background-color: grey;
 background-size: cover;
}
#dot{
background-size: cover;
background-image: url(/images/fort.png)
}

#ls{
color: white;
text-align: center;
}

#got{
background-color: grey;
 background-size: cover;
}

#gat{
background-color: grey;
 background-size: cover;
}


#set{
background-color: grey;
 background-size: cover;
}