body{
    background-attachment: fixed;
    background-image: url(/home/peter/IdeaProjects/miniApps/Hero-Squad/src/main/resources/public/fly.jpg);
}
#btn{
    border-radius:12px; 
}
input{
    border-radius: 15px;
    font-size: 9px; 
}

/*hovering*/

body:hover{
    background-attachment: fixed;
    background-image: url(/home/peter/IdeaProjects/miniApps/Hero-Squad/src/main/resources/public/forti.jpg);
}
#btn:hover{
    border-radius:24px; 
}
input:hover{
    border-radius: 25px;
    font-size: 12px; 
}